

.hero-image{
  position: relative;
  height: 600px;
  overflow: hidden;
  background: url(./Img/Beach2.jpg) center no-repeat;
  background-size: cover;
  /* filter: blur(1px); */
}
.container{
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.container h1{
  font-size:72;
  letter-spacing: 0.2em;
}

.AplicacionColor{
  background-color: #e4e4e4;
}

.FooterColor{
  background-color: #4b4a4a;
}

